body {
  margin: 0;
  line-height: 1.7;
  background-color: #ececec;
  font-size: 17px;
}

* {
  box-sizing: border-box;
}

img {
  &:hover {
    cursor: pointer;
    transform: scale(1.4);
    transition: all 0.2s ease-in-out;
  }
}
